.cannonui-picker {
  &__list {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    -webkit-overflow-scrolling: touch;
  }
  &-roller {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: var(--lineHeight);
    z-index: 1;
    transform-style: preserve-3d;
    transform: translateY(-50%);

    &-item {
      display: block;
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      height: $picker-item-height;
      line-height: $picker-item-height;
      color: $picker-item-text-color;
      font-size: $picker-item-text-font-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &-hidden {
        visibility: hidden;
        opacity: 0;
      }
    }

    &-item-tile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: $picker-item-text-color;
      font-size: $picker-item-text-font-size;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-item-tarotile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: $picker-item-text-color;
      font-size: $picker-item-text-font-size;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-roller-mask {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.4)
      ),
      linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
    background-repeat: no-repeat;
    background-position: top, bottom;
    z-index: 1;
  }
}
