# build output
dist/

# dependencies
node_modules/
**/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# wallaby.js
wallaby.js

# lcoal test
ui-test/
ui-prod-test/
# vsc extension
vscx/

# plugin such as prettier
plugin/

# md
# md/

#vue ui build folder
cannonVue/

# vsc custom setting
.vscode/settings.json

# stats html
stats.html
pnpm-lock.yaml


mingnode/

README-cn.md
__mocks__/
coverage/
md/