{
  "singleQuote": true,
  "quoteProps": "preserve",
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports"],
  "prettier-plugin-organize-imports": {
    "removeUnusedImport": false,
    "organizeImportsSkipDestructiveCodeActions": true
  },
  "trailingComma": "none"
}
