.cannonui-skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  .content {
    display: flex;
    .content--wrapper {
      display: flex;
      flex-direction: column;
      .block-title,
      .block-line {
        width: 100%;
        margin-bottom: 10px;
        background-color: $skeleton-content-line-background-color;
      }
      .block-title {
        width: 30%;
      }
      .block-line ~ .block-line:last-of-type {
        width: 70%;
      }
      .block-title:last-of-type,
      .block-line:last-of-type {
        margin-bottom: 0;
      }
      .block-title--round,
      .block-line--round {
        border-radius: 10px;
      }
    }
  }

  .skeleton-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $skeleton-animation-background-color;
    background-repeat: no-repeat;
    animation: backops 2s ease-in-out 0s infinite;
  }
  @keyframes backops {
    0% {
      background-position-x: -500px;
    }
    to {
      background-position-x: calc(500px + 100%);
    }
  }
}
