// 主色调
$cannon-color-brand-normal: #f82c45 !default;
$cannon-color-brand-gradient-normal-1: #ff566a !default;
$cannon-color-white: #fff;
$primary-color: #fa2c19 !default;
$primary-color-end: #fa6419 !default;
$primary-color-start: $cannon-color-brand-gradient-normal-1 !default;
// 次内容
$text-color: #808080 !default;

//-------------
$cannon-border-radius-1: 2px !default;
$cannon-border-radius-2: 4px !default;
$cannon-border-radius-3: 4px !default;
$cannon-border-radius-4: 4px !default;
$cannon-border-radius-5: 8px !default;
$cannon-border-radius-6: 6px !default;
$cannon-border-radius-7: 8px !default;
$cannon-border-radius-8: 8px !default;
$cannon-border-radius-9: 8px !default;
$cannon-border-radius-10: 6px !default;

// no opacity
$primary-disabled-opacity: 1 !default;

// 特殊禁用色
$disable-color: #cccccc !default;
$white: #fff !default;
$black: #000 !default;
$required-color: #fa2c19 !default;

// Font
$font-size-0: 10px !default;
$font-size-1: 12px !default;
$font-size-2: 14px !default;
$font-size-3: 16px !default;
$font-size-4: 18px !default;
$font-weight-bold: 400 !default;

$font-size-small: $font-size-1 !default;
$font-size-base: $font-size-2 !default;
$font-size-large: $font-size-3 !default;
$line-height-base: 1.5 !default;

//button
$button-border-radius: $cannon-border-radius-7 !default;
$button-border-width: 1px !default;
$button-default-bg-color: $white !default;
$button-default-border-color: rgba(204, 204, 204, 1) !default;
$button-default-color: rgba(102, 102, 102, 1) !default;
$button-default-padding: 0 18px !default;
$button-mini-padding: 0 12px !default;
$button-small-padding: 0 12px !default;
$button-small-height: 28px !default;
$button-mini-height: 24px !default;
$button-default-height: 38px !default;
$button-large-height: 48px !default;
$button-large-line-height: 46px !default;
$button-small-line-height: 26px !default;
$button-block-height: 48px !default;
$button-default-line-height: 36px !default;
$button-block-line-height: 46px !default;
$button-default-font-size: $font-size-2 !default;
$button-large-font-size: $button-default-font-size !default;
$button-small-font-size: $font-size-1 !default;
$button-mini-font-size: $font-size-1 !default;
$button-mini-line-height: 1.2 !default;
$button-disabled-opacity: $primary-disabled-opacity !default;
$button-primary-color: $cannon-color-white !default;
$button-primary-border-color: $cannon-color-brand-normal !default;
$button-primary-background-color: linear-gradient(
  135deg,
  $primary-color-start 0%,
  $primary-color-end 100%
) !default;
$button-info-color: $white !default;
$button-info-border-color: rgba(73, 106, 242, 1) !default;
$button-info-background-color: linear-gradient(
  315deg,
  rgba(73, 143, 242, 1) 0%,
  rgba(73, 101, 242, 1) 100%
) !default;
$button-success-color: $white !default;
$button-success-border-color: rgba(38, 191, 38, 1) !default;
$button-success-background-color: linear-gradient(
  135deg,
  rgba(38, 191, 38, 1) 0%,
  rgba(39, 197, 48, 1) 45%,
  rgba(40, 207, 63, 1) 83%,
  rgba(41, 212, 70, 1) 100%
) !default;

$button-danger-color: $white !default;
$button-danger-border-color: rgba(250, 44, 25, 1) !default;
$button-danger-background-color: rgba(250, 44, 25, 1) !default;
$button-warning-color: $white !default;
$button-warning-border-color: rgba(255, 158, 13, 1) !default;
$button-warning-background-color: linear-gradient(
  135deg,
  rgba(255, 158, 13, 1) 0%,
  rgba(255, 167, 13, 1) 45%,
  rgba(255, 182, 13, 1) 83%,
  rgba(255, 190, 13, 1) 100%
) !default;
$button-plain-background-color: $white !default;
$button-small-round-border-radius: $button-border-radius !default;

//switch
$switch-close-bg-color: #ebebeb !default;
$switch-close--cline-bg-color: #f0f0f0 !default;
$switch-width: 36px !default;
$switch-height: 21px !default;
$switch-line-height: 21px !default;
$switch-border-radius: 21px !default;
$switch-inside-width: 13px !default;
$switch-inside-height: 13px !default;
$switch-inside-open-transform: translateX(146%) !default;
$switch-inside-close-transform: translateX(30%) !default;
$col-default-margin-bottom: 15px !default;
//infiniteloading
$infinite-bottom-color: #c8c8c8;

// skeleton
$skeleton-content-avatar-background-color: #efefef !default;
$skeleton-content-line-background-color: #efefef !default;
$skeleton-animation-background-color: linear-gradient(
  90deg,
  hsla(0, 0%, 100%, 0),
  hsla(0, 0%, 100%, 0.5) 50%,
  hsla(0, 0%, 100%, 0) 80%
) !default;

// Table
$table-border-color: #ececec !default;
$table-cols-padding: 10px !default;
$table-tr-even-bg-color: #f3f3f3 !default;
$table-tr-odd-bg-color: $white !default;

//price
$price-number-size: 16px;
$price-number-size-2: 24px;

// swiper
$swiper-pagination-item-background-color: #ddd !default;
// searchbar
$searchbar-background: $white !default;
$searchbar-right-out-color: $black !default;
$searchbar-padding: 9px 16px !default;
$searchbar-width: 100% !default;
$searchbar-action-text-color: #323233 !default;
$searchbar-input-background: #f7f7f7 !default;
$searchbar-input-padding: 0 28px !default;
$searchbar-input-height: 32px !default;
$searchbar-input-width: 100% !default;
$searchbar-input-border-radius: 16px !default;
$searchbar-input-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04) !default;

//tag
$tag-font-size: 12px !default;
$tag-default-border-radius: 4px !default;
$tag-round-border-radius: 8px !default;
$tag-default-background-color: #000000 !default;
$tag-primary-background-color: #3460fa !default;
$tag-success-background-color: #4fc08d !default;
$tag-danger-background-color: linear-gradient(
  135deg,
  rgba(242, 20, 12, 1) 0%,
  rgba(232, 34, 14, 1) 70%,
  rgba(242, 77, 12, 1) 100%
) !default;
$tag-danger-background-color-plain: #df3526 !default;
$tag-warning-background-color: #f3812e !default;
$tag-default-color: #ffffff !default;
$tag-border-width: 1px !default;
$tag-plain-background-color: #fff !default;
$tag-height: auto !default;
